/* SIMPLE CSS RESET */
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
    /* outline: 1px solid limegreen; */
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
/* END SIMPLE CSS RESET */

/* HELPER STYLES */
.dark-bg {
  background-color: #1f2937;
}

.container {
  display: flex;
  width: 960px;
  margin: 0 auto;
}
/* END HELPER STYLES */

body {
  font-family: "Lato", sans-serif;
}

/* START HEADER STYLING */

header {
  width: 100%;
}

header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

header .nav .logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

header .nav ul {
  display: flex;
}

header .nav ul li {
  color: #f9faf8;
  margin-left: 20px;
}

header .hero {
  display: flex;
  margin: 100px 0;
}

header .hero .left,
header .hero .right {
  width: 50%;
}

header .hero .left {
  padding-right: 40px;
}

header .hero .left h1 {
  font-size: 48px;
  color: #f9faf8;
}

header .hero .left p {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 10px;
}

header .hero .left button {
  border: none;
  padding: 10px 25px;
  color: #f9faf8;
  background-color: #3882f6;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
}

header .hero .right {
  display: flex;
  background-color: gray;
  justify-content: center;
  align-items: center;
}

header .hero .right p {
  color: #f9faf8;
}

/* END HEADER STYLING */

/* START INFO STYLING */

.light-bg {
  background-color: #f9faf8;
}

.info {
  width: 100%;
}

.info h2 {
  font-size: 36px;
  font-weight: bold;
  width: max-content;
  margin: 40px auto;
}

.info .cards {
  display: flex;
  width: 720px;
  justify-content: space-around;
  margin: auto;
  margin-bottom: 120px;
}

.info .cards .card {
  width: 120px;
}

.info .cards .card .block {
  height: 120px;
  width: 120px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 2px solid #3882f6;
}

.info .cards .card  p {
  text-align: center;
}

/* END INFO STYLING */

/* BEGIN QUOTE STYLING */

.grey-bg {
  background-color: #e5e7eb;
}

.quote {
  width: 720px;
  margin: 100px auto;
}

.quote p:nth-of-type(1){
  font-size: 36px;
  font-style: italic;
}

.quote .citation {
  text-align: right;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

/* END QUOTE STYLING */

/* BEGIN ACTION STYLING */

.action {
  display: flex;
  background-color: #3882f6;
  width: 100%;
  justify-content: center;
  padding: 40px;
  border-radius: 20px;
  margin: 80px 0;
}
.action .call-action {
  margin-right: 100px;
}

.action .call-action span {
  color: #f9faf8;
  font-size: 20px;
  font-weight: bold;
}

.action .call-action p {
  color: #f9faf8;
}

.action .sign-up {
  width: 100px;
  background-color: #3882f6;
  color: #f9faf8;
  border: 3px solid #f9faf8;
  border-radius: 10px;
}

/* END ACTION STYLING */

/* BEGIN FOOTER STYLING */

.footer {
  width: 100%;
}

.footer p {
  color: #f9faf8;
  margin: 40px auto;
  text-align: center;
}